.homePage {
  width: 100%;
  height: calc(100vh - 80px);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  .postContents {
    width: 600px;
    height: auto;
    max-height: 600px;
    background-color: #fff;
    box-shadow: 5px 9px 15px -5px #777;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    .postHeader h1 {
      text-align: center;
      margin-top: 5px;
    }
    .postTextContainer {
      height: auto;
      word-wrap: break-word;
      max-height: 400px;
      width: 100%;
    }
    .nameAndDeleteButton {
      display: flex;
      align-items: center;
      button {
        flex: 10%;
        background-color: #f39f31;
        color: #fff;
        padding: 7px 15px;
        border-radius: 3px;
        border: none;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
          background-color: #f3b166;
        }
      }
      h3 {
        flex: 90%;
      }
    }
  }
}
