.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #f3ac13;
    gap: 45px;
    a {
        text-decoration: none;
        color: #fff;
        svg {
            margin-right: 5px;
        }
        &:hover {
            color:#a3ade6;

        }
    }
}